@font-face {
    font-family: 'Chosunilbo_myungjo';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_one@1.0/Chosunilbo_myungjo.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}


body {
    width: 99%;
    height: 500px;
}
.header {
    width: 100%;
    height: 20%;
}
.body {
    display: flex;
    height: 128%;
}
.contents {
    display: flex;
    width: 60%;
    height: 640px;
    background-image : url('../images/subpage_background_image2.png');
    background-repeat : no-repeat;
    background-size : 100% 620px;
}
.leftSide, .rightSide {
    width: 20%;
}
.footer {
    width: 100%;
    height: 20%;
}


.graph{
    width: 50%;
} 
.date {
    margin-top: 15px;
}
.date #start_date {
    font-family: 'Chosunilbo_myungjo';
    font-weight: bolder;
    text-shadow: 3px 3px #001a5f;
    display: inline;
    color: white;
    font-size: 1.2vw;
    margin-left: 16%;
}
.date #wave {
    font-family: 'Chosunilbo_myungjo';
    font-weight: bolder;  
    display: inline;
    color: white;
    font-size: 1vw;
    margin-left: 1%;
}
.date #end_date{
    font-family: 'Chosunilbo_myungjo';
    font-weight: bolder;
    text-shadow: 3px 3px #001a5f;
    display: inline;
    color: white;
    font-size: 1.2vw;
    margin-left: 1%;
}
#nouns_graph {
    display: block;
    width: 58%;
    height: 320px;
    margin-left: 30%;
    margin-top: 140px; 
}
#switch {
    margin-left: 47%;
    margin-top: 10px;
}

.top5_header {
    width: 50%;
}
h1 {
    font-family: 'Chosunilbo_myungjo';
    color: white;
    margin-left: 50px;
    margin-top: 165px;
}
.thin {
    font-size: 3vw;
    font-weight: lighter;
}
.thick {
    font-size: 3.5vw;
    font-weight: bolder;
    text-shadow: 7px 7px #001a5f;
    margin-left: 2%;
}

.top5_list {
    font-family: 'Chosunilbo_myungjo';
    font-size : 2vw;
    color: #dfe9f5;
    margin-left: 70px;
    margin-top: -10px;  
}
li {
    margin:10px;
}
a {
    color : #dfe9f5;
}
a:link {
    color : #dfe9f5;
    text-decoration-thickness: 1px;
    text-underline-offset: 5px;
}
a:visited {
    color : #001a5f;
}
a:hover {
    color : #90b1db;
}

