@font-face {
    font-family: 'Chosunilbo_myungjo';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_one@1.0/Chosunilbo_myungjo.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}


body {
    width: 99%;
    height: 500px;
}
.header {
    width: 100%;
    height: 20%;
}
.body {
    display: flex;
    height: 128%;
}
.contents {
    width: 60%;
    height: 640px;
    background-image : url('../images/background_image7.png');
    background-repeat : no-repeat;
    background-size : 100% 620px;
}
#before-date {
    display: block;
    color: white;
    font-size: 30px;
    margin-left: 7.5%;
    margin-top: -2px;
}
#after-date {
    display: none;
}
#after_date {
    margin-top: 15px;
}
#after_start_date {
    font-family: 'Chosunilbo_myungjo';
    font-weight: bolder;
    text-shadow: 3px 3px #001a5f;
    display: inline;
    color: white;
    font-size: 1.2vw;
    margin-left: 16%;
}
#after_wave {
    font-family: 'Chosunilbo_myungjo';
    font-weight: bolder;  
    display: inline;
    color: white;
    font-size: 1vw;
    margin-left: 1%;
}   
#after_end_date{
    font-family: 'Chosunilbo_myungjo';
    font-weight: bolder;
    text-shadow: 3px 3px #001a5f;
    display: inline;
    color: white;
    font-size: 1.2vw;
    margin-left: 1%;    
}

.leftSide, .rightSide {
    width: 20%;
}
.footer {
    width: 100%;
    height: 20%;
}

#wordcloud {
    display: block;
    width: 47%;
    height: 454px;
    margin-left: 41.5%;
    margin-top: -18px;   
}
#keywordLink {
    font-family: 'Chosunilbo_myungjo';
    font-size: 1.1vw;
    text-decoration-thickness: 1px;
    text-underline-offset: 3px;
    color: white;
    margin-left: 65%;
    margin-top: 44px;
}