@font-face {
    font-family: 'Chosunilbo_myungjo';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_one@1.0/Chosunilbo_myungjo.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}


body {
    width: 99%;
    height: 500px;
}
.header {
    width: 100%;
    height: 20%;
}
.body {
    display: flex;
    height: 128%;
}
.contents {
    width: 60%;
    height: 640px;
    background-image : url('../images/background_image7.png');
    background-repeat : no-repeat;
    background-size : 100% 620px;
}
.leftSide, .rightSide {
    width: 20%;
}
.footer {
    width: 100%;
    height: 20%;
}

#wordcloud {
    display: block;
    width: 47%;
    height: 454px;
    margin-left: 41.5%;
    margin-top: -3px;   
}
a {
    font-family: 'Chosunilbo_myungjo';
    text-decoration-thickness: 1px;
    text-underline-offset: 3px;
    color: white;
    margin-left: 64%;
}
form {
    margin-left: 7.5%;
    margin-top: -3px;
    height: 40px;
}
