<!DOCTYPE html>
<html>
    <head>
        <link rel="stylesheet" href="static/css/index.css">
    </head>
<body>
    <h1><b>HOT ISSUE 4 YOU</b></h1>
        <form action="" method="post">
            {% csrf_token %}
            <label for="day-select"></label>
            <input type="date" name="day-select" id="day-select" value="{{now}}" min="2024-04-01">
            <label for="time-select"></label>
            <select name="time-select" id="time-select">
            {% for i in times %}
                <option value="{{i}}">{{i}}시</option>
            {% endfor %}
            </select>
            <input type="submit">
        </form>
    {% load static %}
    <img src="{% static 'images/wordcloudSample.png' %}" />
</body>
</html>