{% load static %}
<!DOCTYPE html>
<html>
    <head>
        <title>HOT ISSUE 4 YOU</title>
        <link rel="stylesheet" href="static/css/index.css">
    </head>
    <body>
        <h1><b>HOT ISSUE 4 YOU</b></h1>
            <form action="" method="post">
                {% csrf_token %}
                <label for="day-select"></label>
                <input type="date" name="day-select" id="day-select" value="{{now}}" min="2024-04-01">
                <label for="time-select"></label>
                <select name="time-select" id="time-select">
                {% for i in times %}
                    <option value="{{i}}">{{i}}시</option>
                {% endfor %}
                </select>
                <input type="submit">
            </form>
        <br>
        <img src="{% static 'images/wordcloudSample.png' %}" />
        <br>
        <a href="https://search.naver.com/search.naver?where=news&ie=utf8&sm=nws_hty&query=%EB%89%B4%EC%8A%A4">HOT!한 상위 키워드를 보고싶으세요?</a>
    </body>
</html>