{% load static %}
<!DOCTYPE html>
<html>
    <head>
        <title>show more graph and top 5 words hyperlink</title>
        <link rel="stylesheet" href="{% static 'css/detail.css' %}">

    </head>

    <body>
        <div class = "header"></div>
        <div class = "body">
            <div class = "leftSide"></div>
            <div class = "contents">
                <div class = "graph">
                    <div id='start_date'></div>
                    <div id='end_date'></div>
                    <script>
                        // URL에서 매개변수 추출
                        const urlParams = new URLSearchParams(window.location.search);
                        const start = urlParams.get('start');
                        const end = urlParams.get('end');
                        
                        document.getElementById("start_date").innerText = "s" + start;
                        document.getElementById("end_date").innerText = "e" + end;
                        </script>

                    <div>
                        <img id = "nouns_graph" src="{% static 'images/donut_chart.jpeg' %}" />
                        <button id = "switch" onclick="toggleImg()">another: bar_graph</button>
                    </div>
                    <script>
                        let flag = true;
                        function toggleImg() {
                            document.getElementById("nouns_graph").src = flag 
                            ? "../../static/images/bar_graph.jpeg"
                            : "../../static/images/donut_chart.jpeg";

                            document.getElementById("switch").innerText = flag 
                            ? 'another: donut_graph'   
                            : 'another: bar_graph';

                            flag = !flag
                        }
                    </script>  
                </div>

                <div class = "top5_header">
                    <h1> 
                        <span class = "thin">검색어</span>
                        <span class = "thick">TOP 5</span>
                    </h1>
                    <div class = "top5_list">
                        <ol>
                        {% for i in top_5 %}
                            <li><a href="https://search.naver.com/search.naver?where=news&ie=utf8&sm=nws_hty&query={{i}}" target="_blank">{{i}}</a></li>
                        {% endfor %}
                        </ol>
                    </div>
                </div>
            </div>
            <div class = "rightSide"></div>
        </div>
        <div class = "footer"></div>
    </body>
</html>
