{% load static %}
<!DOCTYPE html>
<html>
    <head>
        <title>HOT ISSUE 4 YOU</title>
        <link rel="stylesheet" href="static/css/index.css">
    </head>
    <body>
        <form action="" method="post">
            {% csrf_token %}
            <label for="day-select"></label>
            <input type="date" name="day-select" id="day-select" value="{{now_day}}" min="2024-04-01">
            <label for="time-select"></label>
            <select name="time-select" id="time-select">
            {% for i in times %}
                <option value="{{i}}">{{i}}시</option>
            {% endfor %}
            </select>
            <input type="submit">
        </form>
        <br>
        <img src="{% static 'images/wordcloudSample.png' %}" />
        <br>
        <div>
            <a href="{% url 'mainpage:detail' %}">TOP 5 키워드를 확인해보세요!</a>
        </div>
    </body>
</html>