{% load static %}
<!DOCTYPE html>
<html>
    <head>
        <title>HOT ISSUE 4 YOU</title>
        <link rel="stylesheet" href="{% static 'css/index.css' %}">
    </head>

    <body>
        <div class = "header"></div>
        <div class = "body">
            <div class = "leftSide"></div>
            <div class = "contents">
                <form action="" method="post">
                    {% csrf_token %}
                    <p><label for="start_day"></label>
                    <input type="date" name="start_day" id="start_day" min="2024-04-18">
                    <label for="start_time"></label>
                    <input type="time" id="start_time" name="start_time" step="1800" required />
                    &nbsp~&nbsp
                    <label for="end_day"></label>
                    <input type="date" name="end_day" id="end_day" min="2024-04-18">
                    <label for="end_time"></label>
                    <input type="time" id="end_time" name="end_time" step="1800" required />
                    <input type="submit"></p>
                </form>
                
                <script>
                    document.getElementById('start_day').value = new Date().toISOString().substring(0, 10);
                    document.getElementById('end_day').value = new Date().toISOString().substring(0, 10);
                    document.getElementById('start_time').value = new Date().toISOString().slice(11, 16);
                    document.getElementById('end_time').value = new Date().toISOString().slice(11, 16);
                </script>

                <img id="wordcloud" src="{% static 'images/wordcloudSample.png' %}" />
                <br><br>
                <a href="{% url 'mainpage:detail' %}">TOP 5 키워드를 확인해보세요!</a>
            </div>
            <div class = "rightSide"></div>
        </div>
        <div class = "footer"></div>
    </body>
</html>