{% load static %}
<!DOCTYPE html>
<html>
    <head>
        <title>HOT ISSUE 4 YOU</title>
        <link rel="stylesheet" href="{% static 'css/index.css' %}">

        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
        <script src="https://code.jquery.com/ui/1.12.1/jquery-ui.min.js"></script>
        <link rel="stylesheet" href="https://code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css">
        <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-datetimepicker/2.5.20/jquery.datetimepicker.full.min.js"></script>
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/jquery-datetimepicker/2.5.20/jquery.datetimepicker.min.css">

    </head>

    <body>
        <div class = "header"></div>
        <div class = "body">
            <div class = "leftSide"></div>
            <div class = "contents">
                <form id="submit-form" method="post" target='blankifr'>
                    {% csrf_token %}
                    <p class = "date-format">
                        <label for="start"></label>
                        <input type="text" id="start" name="start" autocomplete="off" placeholder="연도-월-일 hh:mm">
                        ~
                        <label for="end"></label>
                        <input type="text" id="end" name="end" autocomplete="off" placeholder="연도-월-일 hh:mm">
                        <button id="submit-btn" type="button">제출</button>
                    </p>
                    <p class = "hover-box"></p>
                </form>
                <script>
                    let submit_form = document.getElementById("submit-form");
                    let submit_btn = document.getElementById('submit-btn');
                    submit_btn.addEventListener('click', function () {
                        showImage();
                        submit_form.submit();
                    });
                </script>
                <script>
                    $(document).ready(function() {
                        var $startDate = $('#start');
                        var $endDate = $('#end');
                        $startDate.datetimepicker({
                            format: 'Y-m-d H:i',
                            step: 30,
                            lang: 'kr',
                            defaultDate: false,

                            onShow: function (ct) {
                                this.setOptions({
                                    maxDate: $endDate.val() ? $endDate.val() : false
                                })
                            },
                        });

                        $endDate.datetimepicker({
                            format: 'Y-m-d H:i',
                            step: 30,
                            lang: 'kr',
                            defaultDate: false,

                            onShow: function (ct) {
                                this.setOptions({
                                    minDate: $startDate.val() ? $startDate.val() : false
                                })
                            }
                        });

                        // 폼 제출 시 실행될 함수
                        $("form").submit(function(event) {
                            var $startDate = $('#start');
                            var $endDate = $('#end');
                            var submitted = false; // 폼 제출 상태를 저장할 변수
                            // 시작일과 종료일이 모두 입력되었는지 확인
                            if ($startDate.val() && $endDate.val()) {
                                submitted = true; // 폼 제출 완료
                                showImage();
                                return true; // POST 방식으로 제출
                            } else {
                                // 시작일 또는 종료일이 입력되지 않은 경우 경고 메시지를 표시하거나 다른 작업을 수행할 수 있습니다.
                                alert("시작일과 종료일을 모두 입력해주세요.");
                                return false; // 폼 제출 방지
                            }
                        });
                    });
                </script>
                 <div>
                     <img id="wordcloud" src="data:cloud/png;base64,{{ wordcloud|safe }} "/>
                    <p id="textImage" class="text-image">Text Image</p>
                    <script>
                        function showImage() {
                            let startInput = document.getElementById("start");
                            let endInput = document.getElementById("end");
                            let imageElement = document.getElementById("wordcloud");
                            let textImageElement = document.getElementById("textImage");
                            let keywordLinkElement = document.getElementById("keywordLink");
                            // 사용자가 날짜를 입력한 경우 이미지를 표시합니다.
                            if (startInput.value && endInput.value) {
                                imageElement.style.display = "block"; // 이미지 보이기
                                textImageElement.style.display = "none"; // 텍스트 이미지 감추기
                                keywordLinkElement.style.display = "block"; // 링크 보이기
                            } else {
                                alert("두 값 모두 작성해주십시오.");
                            }
                        }
                    </script>
                     <a id="keywordLink" href="{% url 'mainpage:detail' %}?data1={{start}}&data2={{end}}" class="text-link">TOP 5 키워드를 확인해보세요!</a>

                </div>
                <script>
                document.getElementById('keywordLink').addEventListener('click', function(event) {
                    event.preventDefault(); // 기본 동작인 링크 이동을 막습니다.
                    var startValue = document.getElementById('start').value;
                    var endValue = document.getElementById('end').value;
                    var url = '/detail/';
                    if (startValue) {
                        url += encodeURIComponent(startValue);
                        if (endValue) {
                            url += '/';
                        }
                    }
                    if (endValue) {
                        url += encodeURIComponent(endValue);
                    }
                    window.location.href = url; // 생성된 URL로 이동합니다.
                });
                </script>
            </div>
            <div class = "rightSide"></div>
        </div>
        <div class = "footer"></div>
    </body>
  <iframe name='blankifr' sandbox="allow-same-origin allow-scripts" style='display:none;'></iframe>
</html>